@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Minecraft';
  src: url('/fonts/Minecraft.ttf') format('truetype');
}

@font-face {
  font-family: 'MinecraftTen';
  src: url('/fonts/MinecraftTen-VGORe.ttf') format('truetype');
}

:root {
  --background: #080609;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Minecraft', Arial, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  pointer-events: none;
  user-drag: none;
  -webkit-user-drag: none;
}
